@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Stack Overflow</h1>
    <h6>Search for topics below:</h6>

    <form method="post" action="/QandA/Search">
        <div>
            <input type="text" name="searchString" placeholder="Input a topic here"/><br /><br />
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>
    </form>
</div>
